body {
  margin: 0%;
}

h1 {
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  color: rgb(12, 12, 12);
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(12, 12, 12);
  padding: 5px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

button {
  width: 150px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(12, 12, 12);
  padding: 5px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 10px 0 rgb(12, 12, 12);
}

.scoreBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

#recent-scores {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  border: 3px solid rgb(12, 12, 12);
  padding: 0;
  margin: 0;
}

li {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 0;
  border: 0;
}

li:nth-child(odd) {
  background-color: rgb(54, 53, 53);
  color: white;
}

.success {
  color: green;
}
